<html>
  <head>
    <title>smlib API docs</title>
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.tooltip.min.js"></script>
    <script type="text/javascript" src="js/prettify.js"></script>
    <script type="text/javascript">
      var search_names_only = false;
      
      function escape_filter(text)
      {
        return text.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/%])/g, '\\$1');
      }
      
      function filter_functions_list(terms)
      {
          if (!$.trim(terms))
          {
            $('.function').show();
            return;
          }
          
          var _terms = terms.split(' ');
          
          $('.function').each(function(key, value) {
            var proto;
            if (search_names_only)
              proto = $(value).find('.prototype > .name').text();
            else
              proto = $(value).find('.prototype').text();
            
            var matched = true;
            
            for (var i in _terms)
            {
              if (proto.indexOf(_terms[i]) == -1)
              {
                matched = false;
                break;
              }
            }
            
            if (matched)
              $(value).show();
            else
              $(value).hide();
          });
      }
      
      function clear_search_bar()
      {
        $('#search_bar_input').val('').change().focus();
      }
      
      $(function() {
        $('.function > .prototype_wrapper')
          .click(function() {
            $(this).siblings('.body').toggle();
          });
        
        $('.function:has(.docs_wrapper) > .prototype_wrapper')
          .tooltip({
            'bodyHandler': function() {
              return $(this).siblings('.docs_wrapper').html();
            }
          });
        
        $('.function .arguments').each(function(k,v) {
          $(v).html(prettyPrintOne($(v).html()));
        });
        
        function _refilter_search()
        {
          filter_functions_list($('#search_bar_input').val());
        }
        
        $('#search_bar_input').on({
          change: _refilter_search,
          keyup: _refilter_search,
          
          // Allow pressing Ctrl+D to clear (hurka durka)
          keydown: function(e) {
            if ((e.ctrlKey || e.metaKey) && e.keyCode == 68)
            {
              clear_search_bar();
              return false;
            }
          }
        });
        
        search_names_only = $('#search_bar_names_only').is(':checked');
        $('#search_bar_names_only').change(function() {
          search_names_only = $(this).is(':checked');
          _refilter_search();
        });
      });
    </script>
    <link rel="stylesheet" href="css/prettify.css" />
    <link rel="stylesheet" href="css/jquery.tooltip.css" />
    <link rel="stylesheet" href="css/screen.css" />
  </head>
  <body onload="prettyPrint()">
    <div id="search_bar">
      <label for="search_bar_input">Filter:</label>
      <input id="search_bar_input" type="text" />
      <a href="javascript:void(0);" onclick="clear_search_bar();" id="search_bar_reset">Reset</a>
      <label for="search_bar_names_only">Names only:</label>
      <input id="search_bar_names_only" type="checkbox" />
    </div>
    <div id="functions">
      {% for func in jse.functions -%}
      <div class="function" id="func_{{ func.name }}">
        <a title="func_{{ func.name }}"></a>
        {% if func.docstring %}
        <div class="docs_wrapper">
          <div class="docs">{% set docs = func.docinfo %}
            <div class="brief">{{ docs.brief|trim|nl2br }}</div>
            {% if docs.params %}
            <table class="params">
              <thead>
                <tr>
                  <th colspan="2">Parameters</th>
                </tr>
              </thead>
              <tbody>
                {% for param in docs.params %}
                <tr>
                  <td class="name">{{ param.name }}</td>
                  <td class="info">{{ param.text }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
            {% if docs.return != '' %}
            <table class="return">
              <tbody>
                <tr>
                  <td class="label">Returns:</td>
                  <td class="info">{% if docs.return == null %}<em>Nothing!</em>{% else %}{{ docs.return|trim|nl2br }}{% endif %}</td>
                </tr>
              </tbody>
            </div>
          {% endif %}
          </div>
        </div>
        {% endif %}
        <div class="prototype_wrapper">
          <div class="prototype">
            {% spaceless %}
            <span class="static">
              {% if func.isStatic %}
                static
              {% endif %}
            </span>
            {% if func.isStatic %}
              <span class="whitespace">&nbsp;</span>
            {% endif %}
            <span class="types">
              {% for type in func.types %}
                <span class="type">{{ type }}</span>
                <span class="whitespace">&nbsp;</span>
              {% endfor %}
            </span>
            {% if func.type %}
              <span class="whitespace">&nbsp;</span>
            {% endif %}
            <span class="returnType">{% if func.returnType %}<span class="value tag">{{ func.returnType}}</span>:{% endif %}</span>
            <span class="name">{{ func.name }}</span>
            <span class="arguments">
              <span class="openparen">(</span>
              {% for arg in func.arguments %}
              <span class="argument">
                <span class="byref">{% if arg.byreference %}&amp;{% endif %}</span>
                <span class="type">{% if arg.type %}<span class="value tag">{{ arg.type }}</span><span class="colon">:</span>{% endif %}</span>
                <span class="name">{{ arg.name }}</span>
                <span class="dimensions">{{ arg.dimensions }}</span>
                <span class="defaultvalue">{% if arg.defaultvalue %}=<span class="value">{{ arg.defaultvalue[1:] }}</span>{% endif %}</span>
                <span class="comma">{% if not loop.last %},&nbsp;{% endif %}</span>
              </span>
              {% endfor %}
              <span class="closeparen">)</span>
              {% if not func.body %}<span class="semicolon">;</span>{% endif %}
            </span>{% endspaceless %}
            
          </div>
        </div>
        {%- if func.body %}
        <div class="body">
          <pre class="source prettyprint lang-c linenums:{{ func.element.GetBodyLineStart() }}">{{ func.body|trim|replace({ "\t": '    ' }) }}</pre>
        </div>{% endif %}
      </div>
      {% endfor %}
    </div>
  </body>
</html>